<%- include("header") -%>



<div id="start" class="container-fluid">


<!-- Start of movie recommendation-->
<div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
<section class="pt-5 pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6">
              <h3 class="mb-3">ACTION MOVIES</h3>
          </div>
          <div class="col-lg-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
          <div class="col-xl-50">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">


                          <div  class="row" id = "first_action_c1">  
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>



                          </div>
                      </div>
                      <div class="carousel-item">


                          <div class="row" id = "first_action_c2">
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>


                      <div class="carousel-item">

                          <div class="row" id = "first_action_c3">
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</div>

<!-- End of movie Recommendatioin-->

<div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
  <section class="pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-3">ADVENTURE MOVIES</h3>
            </div>
            <div class="col-lg-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-xl-50">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  
                    <div class="carousel-inner">
                        <div class="carousel-item active">
  
  
                            <div  class="row" id = "first_adventure_c1">  
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
  
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
                                    </div>
                                </div>
  
  
  
                            </div>
                        </div>
                        <div class="carousel-item">
  
  
                            <div class="row" id = "first_adventure_c2">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
  
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </div>
  
  
                        <div class="carousel-item">
  
                            <div class="row" id = "first_adventure_c3">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
  
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  </div>

  <div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
    <section class="pt-5 pb-5">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                  <h3 class="mb-3">THRILLER MOVIES</h3>
              </div>
              <div class="col-lg-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>
              <div class="col-xl-50">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                      <div class="carousel-inner">
                          <div class="carousel-item active">
    
    
                              <div  class="row" id = "first_thriller_c1">  
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
    
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
                                      </div>
                                  </div>
    
    
    
                              </div>
                          </div>
                          <div class="carousel-item">
    
    
                              <div class="row" id = "first_thriller_c2">
                                  <div class="col-xs-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
    
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                          </div>
                                      </div>
                                  </div>
    
                              </div>
                          </div>
    
    
                          <div class="carousel-item">
    
                              <div class="row" id = "first_thriller_c3">
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
    
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                                          </div>
                                      </div> 
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                          <div class="card-body">
                                              <h4 class="card-title">Special title treatment</h4>
                                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    </div>
    
    <!-- End of movie Recommendatioin-->
  
  <!-- End of movie Recommendatioin-->
  
<!-- <script type="module">

  import {csv} from "https://cdn.skypack.dev/d3-fetch@3";
  
  csv("/dataset/tmdb_5000_credits.csv").then((data) => {
    console.log(data); // [{"Hello": "world"}, …]
  });
  
  </script> -->
  
  
  <!-- Start of Host or Join Div -->

  <div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
    <div class="col-lg-6">
      <h1 class="heading">Enjoy movie with freinds <br />in just one click</h1>
      <p class="text-muted">Good communication is the bridge between confusion and clarity</p>
      <div style="display: flex;">
        <form class="" action="/hostmeet" method="get">
          <button type="submit" class="btn btn-lg" name="button">Host Room</button>
        </form>
        <form class="" action="/joinmeet" method="get">
          <button type="submit" class="btn-inv btn btn-lg " name="button">Join Room</button>
        </form>
      </div>

    </div>
    <div class="col-lg-6">
      <img src="/images/home-1.jpeg" alt="there is an image ">
    </div>
    <br>
    <hr>
  </div>

  <!-- End of Host or Join Div -->

  <br><br>


  <!-- Start of Login and Signup Div -->
  <div data-aos="fade-down-left" data-aos-duration="1000" class="home-div row container-fluid">
    <div class="col-lg-8">
      <img src="/images/home-3.png" alt="">
    </div>
    <div class="col-lg-4">
      <h1 class="heading-left"></h1>
      <!-- <h1 id="place" class="heading"></h1> -->
      <!-- <p class="text-muted" style="text-align:right;">Create Groups by signing up or logging in.</p> -->
      <div style="display:flex;justify-content: flex-end;">
        <form class="" action="/signup" method="get">
          <button type="submit" class="btn btn-lg" name="button">Sign Up</button>
        </form>
        <form class="" action="/login" method="get">
          <button type="submit" class="btn btn-lg btn-inv" name="button">Log In</button>
        </form>
      </div>

    </div>
  </div>
  <!-- End of Login and Signup Div -->


</div>


<!--ye hai end okay na ------------------------------->


<hr>
<div id="credits" class="container-fluid">
  <!-- <div>
    <img data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid credits-img" width="250" height="250" src="/images/acehacker.jpeg"
      aria-label="Placeholder: 250x250">
    <img data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid credits-img" width="250" height="250" src="/images/mnnit.png"
      aria-label="Placeholder: 250x250">
    <hr>
  </div> -->
  <br><br>
  <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" style="text-align: center;">
  </div>
  <br>
  <br>
  <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" style="text-align: center;">
    <h2 ><strong>Developed By</strong></h2>
    <p class="credits-text">Ms. Himanshi Sharma</p>
    <p class="credits-text">Mr. Shashank Singh</p>
    <p class="credits-text">Mr. Ankit Gupta</p>
  </div>
</div>

</div>
<!-- Start of Script Tags -->

<script>
  AOS.init();
</script>
<script src="../js/home.js"></script>

<!-- End of Script Tags -->
</body>

</html>
