<%- include("header") -%>


<div id="start" class="container-fluid">
  <!-- Start of Host or Join Div -->
  <div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
    <div class="col-lg-5" style="padding:90px;">
      <h1 class="heading">GoodBye &#10084;&#65039; !</h1>
    </div>
    <div class="col-lg-7">
      <img src="/images/leave-4.jpeg" alt="" >
    </div>
  </div>
  <!-- End of Host or Join Div -->
</div>
<!-- Start of Script Tags -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- End of Script Tags -->
</body>

</html>
