<%- include("header") -%>



<div id="start" class="container-fluid">


<!-- Start of movie recommendation-->
<div data-aos="fade-down-right" data-aos-duration="1000" class="home-div row container-fluid">
<section class="pt-5 pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-6">
              <h3 class="mb-3"><%=title%> Based Recommended MOVIES </h3>
          </div>
          <div class="col-lg-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
          <div class="col-xl-50">
              <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">
                      <div class="carousel-item active">


                          <div  class="row" id = "first_action_c1">  
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>



                          </div>
                      </div>
                      <div class="carousel-item">


                          <div class="row" id = "first_action_c2">
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                      <div class="card-body">
                                          <h4 class="card-title">Special title treatment</h4>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>


        
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</div>

<!-- End of movie Recommendatioin-->

<!--ye hai end okay na ------------------------------->


<hr>
<div id="credits" class="container-fluid">
  
  <br><br>
  <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" style="text-align: center;">
    <h2 ><strong>Developed By</strong></h2>
    <p class="credits-text">Ms. Himanshi Sharma</p>
    <p class="credits-text">Mr. Shashank Singh</p>
    <p class="credits-text">Mr. Ankit Gupta</p>

  </div>
</div>

</div>
<!-- Start of Script Tags -->

<script>
  AOS.init();
</script>
<script src="../js/search.js"></script>

<!-- End of Script Tags -->
</body>

</html>
